
body {
    background-image: url(img/wikrama2.jpg);
    background-size: 100%;
    justify-content: center;
    width: 100%;
}
h1 {
    color: ivory;
    margin-top: 300px;
    font-style: italic;
    justify-content: center;

}
button {
    display: inline-block;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    border: thin solid #101010;
    box-shadow: 1px 1px 1px #070707;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-family: 'roboto', sans-serif;
    margin: 0 515px;
}
button:hover {
    background-color: #999;
    color: 2px solid #101010;
    cursor: pointer;
}
a {
    text-decoration: none;
}

